body {
  font-family: 'Open Sans', sans-serif;
}

span {
	font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.well {
	margin-top: 1em;
}
.button-group {
  margin-top: 1em;
  position: botton;
}

.form-inline {
  margin-bottom: 2em;
}

.item-votacao {
  /* margin-top: 0em; */
  margin-bottom: 2em;
}

.botao-votacao {
	margin-top: 1em;
	margin-bottom: 3em;
}

/*Experimental*/

.img-rounded
.img-thumbnail {
  max-width: 70px;
  /*max-height: 70px;*/
}

.box-votacao {
  border-style: solid;
  border-width: 1px;
  border-color: thistle;
  border-radius: 5px;
  padding: 5px;
}

.descricao-opcao-voto {
  padding-right: 5px;
  padding-top: 5px;
}

.large {
   font-size: large;
}

/*
.row-same-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

.col-full-height {
  height: 100%;
  vertical-align: middle;
}

@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}*/